.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1px;
}

.continentsButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.btnContinent {
    padding: 1.2rem;
    margin-left: 0.5rem;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.countriesButtons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 1rem;
}

#myChart {
    max-width: 80vw;
    max-height: 70vh;
}

.containerSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}